@page
@model StudentCourses.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Course</h1>

<!--<h4>CourseModel</h4>-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseModel.ID" />
            <div class="form-group">
                <label asp-for="CourseModel.UniversityName" class="control-label"></label>
                <input asp-for="CourseModel.UniversityName" class="form-control" />
                <span asp-validation-for="CourseModel.UniversityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseName" class="control-label"></label>
                <input asp-for="CourseModel.CourseName" class="form-control" />
                <span asp-validation-for="CourseModel.CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseCode" class="control-label"></label>
                <input asp-for="CourseModel.CourseCode" class="form-control" />
                <span asp-validation-for="CourseModel.CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.ProfessorName" class="control-label"></label>
                <input asp-for="CourseModel.ProfessorName" class="form-control" />
                <span asp-validation-for="CourseModel.ProfessorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseRating" class="control-label"></label>
                <input asp-for="CourseModel.CourseRating" class="form-control" />
                <span asp-validation-for="CourseModel.CourseRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseModel.CourseDescription" class="control-label"></label>
                <input asp-for="CourseModel.CourseDescription" class="form-control" />
                <span asp-validation-for="CourseModel.CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
